/* Color Theme Swatches in Hex */
$Yellow: #ffd300 ;
$Peach: #fe9572;
$Pink: #FA6672;
$AnotherPink : #f75f68;
$Green: #32DBA2;
$Lime: #b2cd0d;
$BlueGreen: #1daacc;
$Lavender: #B096E0;
$White : #fff;
$LightGrey: #eae9f9;
$Purple : #7158d1 ;
$Gradient: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
