@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cormorant+SC:wght@400;700&family=Noto+Sans&display=swap"); /* Color Theme Swatches in Hex */
body, html, * {
  margin: 0;
  padding: 0%;
}

body {
  background-image: url(../images/SVG/Clarence.svg);
  background-repeat: no-repeat;
  background-position: right-top;
  background-attachment: fixed;
  max-width: 100vw;
}

#hiddenMenu p {
  display: none;
}

.navScroll {
  background-image: url(../images/SVG/Clarence.svg);
  background-repeat: no-repeat;
  background-position: right-top;
}

#main-container {
  position: relative;
  text-align: center;
}
#main-container aside {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: inset;
  z-index: -1;
  display: none;
}

#Hero {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 25%;
  padding-bottom: 15%;
  background-color: transparent;
  min-height: 100vh;
  background-attachment: fixed;
}
#Hero h2 {
  font-size: 2.5em;
  padding: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#Hero p, #Hero li, #Hero quotes {
  padding: 5px 15px;
  font-size: 1.2em;
}
#Hero h1 {
  font-size: 4.5em;
  font-family: "Acme", sans-serif;
  font-weight: 700;
  color: #000;
}
#Hero h3 {
  font-size: 2em;
  padding: 30px 5px;
}
#Hero button {
  background: #f75f68;
  color: #000;
  font-size: 1.5em;
  border: #ffd300;
  border-radius: 50px;
  width: 50%;
  height: 55px;
  margin-top: 57px;
  box-shadow: 1px 1px 5px;
}

#About {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 25%;
  padding-bottom: 15%;
  background-color: #fff;
  min-height: 100vh;
  background-attachment: fixed;
}
#About h2 {
  font-size: 2.5em;
  padding: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#About p, #About li, #About quotes {
  padding: 5px 15px;
  font-size: 1.2em;
}
#About a {
  text-decoration: none;
  color: rgb(176, 14, 14);
}
#About a:hover {
  color: #faebd7;
}

#Projects {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 25%;
  padding-bottom: 15%;
  background-color: #eae9f9;
  min-height: 100vh;
  background-attachment: fixed;
  height: fit-content;
  min-height: 100vh;
}
#Projects h2 {
  font-size: 2.5em;
  padding: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#Projects p, #Projects li, #Projects quotes {
  padding: 5px 15px;
  font-size: 1.2em;
}
#Projects .myCard {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 15% 5%;
  padding: 0 0% 10% 0%;
  box-shadow: 2px 2px 15px;
}
#Projects .myCard .work-img {
  border-radius: 25px 25px 0 0;
}
#Projects .myCard .work-title {
  padding-top: 10%;
  font-size: 1.5em;
  font-weight: 500;
}
#Projects .myCard .btn {
  background-color: #B096E0;
  border: #B096E0;
  color: #000;
  font-size: 1.3em;
  border-radius: 25px;
  width: 60%;
  height: 40px;
  margin-top: 10% px;
}

#Skills {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 25%;
  padding-bottom: 15%;
  background-color: #fff;
  min-height: 100vh;
  background-attachment: fixed;
  position: relative;
}
#Skills h2 {
  font-size: 2.5em;
  padding: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#Skills p, #Skills li, #Skills quotes {
  padding: 5px 15px;
  font-size: 1.2em;
}
#Skills .skillCard {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 15% 5%;
  padding: 0 0% 10% 0%;
  box-shadow: 2px 2px 15px;
}
#Skills .skillCard h5 {
  padding: 5% 0;
  font-size: 1.5em;
  border-radius: 25px 25px 0 0;
  background-color: #32DBA2;
}
#Skills .skillCard li {
  list-style: none;
}
#Skills #watermarkbox {
  display: none;
}

#Contact {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 25%;
  padding-bottom: 15%;
  background-color: #eae9f9;
  min-height: 100vh;
  background-attachment: fixed;
}
#Contact h2 {
  font-size: 2.5em;
  padding: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#Contact p, #Contact li, #Contact quotes {
  padding: 5px 15px;
  font-size: 1.2em;
}
#Contact .contact-info {
  display: flex;
  flex-wrap: wrap;
}
#Contact .contact-info .contact-details {
  color: #ffd300;
  background-color: rgba(255, 255, 255, 0.08);
  width: 100%;
  height: 100%;
  margin-top: 5%;
  padding: 5% 0;
}
#Contact .contact-info .contact-details a {
  text-decoration: none;
  color: #000;
}
#Contact .contact-info .contact-details i {
  font-size: 3em;
}
#Contact .contact-info .contact-details:focus, #Contact .contact-info .contact-details:active {
  background-color: rgba(255, 255, 255, 0.5);
}
#Contact .contact-info .social {
  display: flex;
  justify-content: center;
}
#Contact .contact-info .social i {
  font-size: 1.9em;
}

#toTopBtn {
  position: fixed;
  bottom: 20%;
  right: 5%;
  display: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
}

.show {
  display: block;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    font-size: 1.3em;
  }
  header .hide-lg {
    display: none;
  }
  header #hiddenMenu {
    margin: 0 -2% 0 5%;
    background-color: #1daacc;
    padding: 0 5% 0 2%;
  }
  header #hiddenMenu li {
    display: none;
  }
  header #hiddenMenu p {
    display: inline-block;
  }
  header #hiddenMenu:hover li {
    display: inline;
  }
  header #hiddenMenu:hover p {
    display: none;
  }
  #Hero {
    padding-top: 10%;
  }
  #Hero button {
    background: #b2cd0d;
    color: #000;
    font-size: 1.5em;
    border: #b2cd0d;
    border-radius: 50px;
    width: 20%;
    height: 55px;
    margin-top: 60px;
    box-shadow: 1px 1px 10px;
  }
  #About {
    padding-top: 10%;
  }
  #About p {
    padding: 0 10%;
  }
  #Projects {
    padding-top: 10%;
  }
  #Skills {
    padding-top: 10%;
  }
  #Skills #skillsBox {
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }
  #Skills #skillsBox .skillCard {
    border-radius: 25px;
    margin: 0;
    width: 30%;
  }
  #Contact {
    padding-top: 10%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=style.css.map */