@import "colors";

header {
    // Hide menu icons on larger screens
    .hide-lg {
        display: none;
    }

    .nav-item {
        a {
            color: $White ; 
            vertical-align: middle;
        }  
        
        a:hover {
            color: $Yellow ; 
        }
    }

}

// Declare variables
$section-padding-lg: 10%;

@mixin lg-section-style {
    padding-top: $section-padding-lg;

    h2 {
        margin-bottom: 2%;
    }
}

@mixin h2-style($border-color) {
    h2 {
        letter-spacing: 1px;    
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
        padding: 0 12%;
        }
        
    h2:after, h2:before {
        content: " ";
        display: block;
        border-bottom: 2px solid $border-color;
        border-top: 2px solid $border-color;
        height: 5px;
        background-color:inherit;
    }

}

#Hero {
    @include lg-section-style();
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8%;

    #heroDetails {
        width: 50%;
        margin-left: 3%;
    }

    h1 {
        font-size: 5.5em;
        font-weight: 700;
        margin-top: 5%;
    }

    h3{
        font-family: monospace, 'Courier New', Courier ;
        font-size: 1.5em;
        margin-bottom: 0;
    }

        
    a { 
        color: $White;
        letter-spacing: 0.3em;
    }

    .meetKam {
        width: 40%;
    }
}

#About {
    @include lg-section-style();
    display: grid;
    padding: auto;
    padding-bottom: 5%;
    justify-content: center;
    grid-template-columns: 30% 50%;

    img {
        grid-column: 1/3;
        grid-auto-columns: 30%;
        justify-self: center;
        margin-top: -10%;
    }

    h2 {
        font-size: 3.5em;
        grid-column: 1/2;
        grid-row: 2/5;
        text-align: right;
        padding-right: 0%;
    }

    p {
        text-align: justify;
        padding-left: 25px;
    }

    p:nth-of-type(1) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    p:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    p:nth-of-type(3) {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    hr {
        grid-column: 1/3;
        width: 100%;
        justify-self: center;
        border: 2px solid $Light-Lavender;
    }

    .interests {
        grid-column: 1/3;
        justify-self: center

        h4 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }

    h2::before, p::before, .interests::before {
        opacity: 0;
    }
}

#Projects {
    padding-top: 5%;
    @include h2-style($AnotherPink);

    h2 {
        margin:2%;
    }

    #projectBox{
        display: flex;
        flex-wrap: nowrap;
        padding: 5%;

        .myCard {
            padding-bottom: 4%;
            aspect-ratio: 4/4;
            margin: 0 -0.9%;
            position: relative;
            overflow: hidden;

            .btn {
                width: 60%;
                height: 30px;
                margin-top: 0%;
            }

            .work-title {
                font-size: 1.2em;
            }

            .work-body {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 0.7em;
                padding: 2%;
            }

            .work-text {
                margin-bottom: 0%;
            }
        }

        .myCard:hover {
            z-index: 99;
        }

    }
}

#Skills {
    @include lg-section-style();
    background-color: transparent;
    padding: 5% 0 0 0;
    margin-bottom: 0;
    @include h2-style($Purple);

    #skillsBox {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        padding: 2% 0;

        .skillCard {
            border-radius: 0 0  25px 25px;
            margin: 5% 2% 0 2%;
            width: 25%;
            padding: 0 0 2% 0;
        }
    } 

    #skillIconBox {
        margin: 10% 0 -2% 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: relative; 
        background: transparent;

        ul {
            margin-bottom: -2%;

            li {
                list-style: none;
                display: inline-block;
                font-size: 3.5em;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                background-color: $LightGrey;
                outline: 3px solid $White;
                margin: 0 10px;
                color: $Purple;
                z-index: 99;
                position: relative;
    
                i {
                    text-align: center;
                    vertical-align: center;
                }

                .overlay {
                    // display: none;
                    font-size: 0.22em !important;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                }
            }

            li:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }

        .greyBox {
            width: 100%;
            height: 100px;
            background-color: $LightGrey;
            background-position: right-top;
            background-attachment: fixed;
            position: absolute;
            bottom: 0%;
            right: 0%;
            z-index: -1;
        }
    }

}

#Contact{
    @include lg-section-style();
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0 10% 0;
    @include h2-style($BlueGreen);

    h2 {
        grid-column: 1/3;
        width: 100%;
    }

    .contact-pic {
        width:50%;
        grid-column: 2/3;
        grid-row: 2 / span 3;
        display: inline-block;
        margin: 5% 0 0 3%;
        img {
            width: 100%;
        }
    }

    .contact-info {
        grid-row: 2/ span 3;
        grid-column: 1/2;
        display: grid;
        width: 40%;
        margin-top: 12%;

        .contact-details {
            margin: 2%;
            padding: 0%;
            background-color: transparent;
        }
    }

}

footer {
    padding: 0.2%;
}


// @media  only screen and (min-width: 1100px) {
//     #mini-Menu {
//         margin-left: 2%;
//     }
// }